@font-face {
  font-family: "NoirPro-BoldItalic";
  src: url("../css/fonts/NoirPro-SemiBoldItalic.woff2");
}
@font-face {
  font-family: "NoirPro-Light";
  src: url("../css/fonts/NoirProLight.woff");
}
html {
  max-width: 1920px;
  max-height: 1080px;
  width: 100%;
  height: 100%;
}
html body {
  margin: 0;
  font-family: "NoirPro-BoldItalic";
}
html body header {
  max-width: 1920px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid;
  border-width: 2px;
  -o-border-image: linear-gradient(100deg, rgba(243, 106, 29, 0) 0%, #f36a1d, rgba(243, 106, 29, 0) 100%) 1;
     border-image: linear-gradient(100deg, rgba(243, 106, 29, 0) 0%, #f36a1d, rgba(243, 106, 29, 0) 100%) 1;
  padding-bottom: 1.04%;
  z-index: 1111;
  position: fixed;
}
html body header h1 {
  margin: 0 0 0 64px;
  font-size: 132px;
  line-height: 155px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #393939;
}
html body header img {
  margin-right: 3.33%;
}
html body .swiper-wrapped {
  height: 100%;
}
html body .swiper-slide {
  margin: 0;
  width: 1920px;
  height: 1080px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 11;
}
html body .swiper-button-next {
  width: 151px;
  margin-right: 64px;
  background-image: url("../pic/arrow-normal-right.svg");
  background-repeat: no-repeat;
}
html body .swiper-button-next::after {
  content: "";
}
html body .swiper-button-prev {
  width: 151px;
  margin-left: 64px;
  background-image: url("../pic/arrow-normal-left.svg");
  background-repeat: no-repeat;
}
html body .swiper-button-prev::after {
  content: "";
}
html body .swiper-button-next:hover {
  background-image: url("../pic/arrow-hover.svg");
  cursor: pointer;
}
html body .swiper-button-prev:hover {
  background-image: url("../pic/arrow-hover.svg");
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  cursor: pointer;
}
html footer {
  max-width: 1920px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 27px 0;
  z-index: 111;
  position: absolute;
  bottom: 0;
}
html .footer_like {
  margin-left: 50.11%;
}
html .footer_like .footer_like-countContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
html .footer_like .footer_like-count {
  margin: 0;
  font-size: 32px;
  line-height: 37px;
  font-family: "NoirPro-BoldItalic";
  color: #727272;
  letter-spacing: -0.05em;
}
html .footer_like .footer_like-counter {
  margin: 0 0 0 5px;
  font-size: 32px;
  line-height: 37px;
  font-family: "NoirPro-BoldItalic";
  color: #f36a1d;
  letter-spacing: -0.05em;
}
html .footer_like .footer_like-btn {
  background-color: transparent;
  border: none;
  margin-bottom: 13px;
}
html .footer_like .footer_like-btn-img {
  background-image: url("../pic/like-normal.svg");
  cursor: pointer;
}
html .footer_like .footer_like-btn-img:hover {
  background-image: url("../pic/like-normal-hover.svg");
  cursor: pointer;
}
html .footer_like .footer_like-btn:disabled {
  cursor: no-drop;
}
html .footer_like .footer_like-btn:disabled .footer_like-btn-img:hover {
  background-image: url("../pic/like-disable.svg");
  cursor: no-drop;
}
html .footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 2.81%;
}
html .footer_social p {
  margin: 70px 0 0 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
html .footer_social a {
  height: 100%;
  margin-bottom: 20px;
}
html .popup {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 30%;
  left: 38%;
  margin: 0 auto;
  display: none;
  width: 543px;
  height: 470px;
  background: #393939;
  z-index: 222222;
}
html .popup .popup_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
html .popup .popup_title {
  width: 114px;
  height: 47px;
  margin: 25px 0 0 32px;
  color: #999999;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: -0.05em;
  font-family: "NoirPro-BoldItalic";
}
html .popup .popup_data {
  color: #727272;
  font-family: NoirPro-Light;
  font-size: 20px;
  line-height: 132.7%;
  letter-spacing: -0.05em;
  text-align: center;
}
html .popup .popup_text {
  font-family: NoirPro-Light;
  font-size: 20px;
  line-height: 132.7%;
  letter-spacing: -0.05em;
  color: #ffffff;
  text-align: center;
  margin: 35px 32px 0;
}
html .popup .popup_close {
  background: url("../pic/popup_close.svg") 50% 50% no-repeat;
  background-size: contain;
  width: 26px;
  height: 25px;
  border: 0;
  margin: 32px 32px 0 0;
  cursor: pointer;
}