@font-face {
  font-family: "NoirPro-BoldItalic";
  src: url("../css/fonts/NoirPro-SemiBoldItalic.woff2");
}

@font-face {
  font-family: "NoirPro-Light";
  src: url("../css/fonts/NoirProLight.woff");
}

html {
  max-width: 1920px;
  max-height: 1080px;
  width: 100%;
  height: 100%;

  body {
    margin: 0;
    font-family: "NoirPro-BoldItalic";

    header {
      max-width: 1920px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: solid;
      border-width: 2px;
      border-image: linear-gradient(
          100deg,
          rgba(243, 106, 29, 0) 0%,
          #f36a1d,
          rgba(243, 106, 29, 0) 100%
        )
        1;
      padding-bottom: 1.04%;
      z-index: 1111;
      position: fixed;

      h1 {
        margin: 0 0 0 64px;
        font-size: 132px;
        line-height: 155px;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #393939;
      }

      img {
        margin-right: 3.33%;
      }
    }

    .swiper-wrapped {
      height: 100%;
    }

    .swiper-slide {
      margin: 0;
      width: 1920px;
      height: 1080px;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 11;
    }

    .swiper-button-next {
      width: 151px;
      margin-right: 64px;
      background-image: url("../pic/arrow-normal-right.svg");
      background-repeat: no-repeat;
    }

    .swiper-button-next::after {
      content: "";
    }

    .swiper-button-prev {
      width: 151px;
      margin-left: 64px;
      background-image: url("../pic/arrow-normal-left.svg");
      background-repeat: no-repeat;
    }

    .swiper-button-prev::after {
      content: "";
    }

    .swiper-button-next:hover {
      background-image: url("../pic/arrow-hover.svg");
      cursor: pointer;
    }

    .swiper-button-prev:hover {
      background-image: url("../pic/arrow-hover.svg");
      transform: scaleX(-1);
      cursor: pointer;
    }
  }

  footer {
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 27px 0;
    z-index: 111;
    position: absolute;
    bottom: 0;
  }

  .footer_like {
    margin-left: 50.11%;

    .footer_like-countContainer {
      display: flex;
      flex-direction: row;
    }

    .footer_like-count {
      margin: 0;
      font-size: 32px;
      line-height: 37px;
      font-family: "NoirPro-BoldItalic";
      color: #727272;
      letter-spacing: -0.05em;
    }

    .footer_like-counter {
      margin: 0 0 0 5px;
      font-size: 32px;
      line-height: 37px;
      font-family: "NoirPro-BoldItalic";
      color: #f36a1d;
      letter-spacing: -0.05em;
    }

    .footer_like-btn {
      background-color: transparent;
      border: none;
      margin-bottom: 13px;
    }

    .footer_like-btn-img {
      background-image: url("../pic/like-normal.svg");
    }

    .footer_like-btn-img:hover {
      background-image: url("../pic/like-normal-hover.svg");
      cursor: pointer;
    }
  }

  .footer_social {
    display: flex;
    flex-direction: row;
    margin-right: 2.81%;

    p {
      margin: 70px 0 0 0;
      align-self: center;
    }

    a {
      height: 100%;
      margin-bottom: 20px;
    }
  }

  .popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 38%;
    margin: 0 auto;
    display: none;
    width: 543px;
    height: 470px;
    background: #393939;
    z-index: 222222;

    .popup_header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .popup_title {
      width: 114px;
      height: 47px;
      margin: 25px 0 0 32px;
      color: #999999;
      font-size: 32px;
      line-height: 37px;
      letter-spacing: -0.05em;
      font-family: "NoirPro-BoldItalic";
    }

    .popup_data {
      color: #727272;
      font-family: NoirPro-Light;
      font-size: 20px;
      line-height: 132.7%;
      letter-spacing: -0.05em;
      text-align: center;
    }

    .popup_text {
      font-family: NoirPro-Light;
      font-size: 20px;
      line-height: 132.7%;
      letter-spacing: -0.05em;
      color: #ffffff;
      text-align: center;
      margin: 35px 32px 0;
    }

    .popup_close {
      background: url("../pic/popup_close.svg") 50% 50% no-repeat;
      background-size: contain;
      width: 26px;
      height: 25px;
      border: 0;
      margin: 32px 32px 0 0;
      cursor: pointer;
    }
  }
}
